body {
  background: #fdeed9;
  color: #3751b7;
}

h1 {
  color: #3751b7;
}
h2 {
  color: #3751b7;
}

.hotpink-header {
  color: #3751b7;
  background-color: white;
}

.toolbar-black {
  color: rgb(102, 102, 102);
}

.all-links {
  color: black;
  background-color: white;
}

.toolbar-links {
  color: #3751b7;
  background-color: rgb(255, 255, 255);
  font-style: bold;
}

.box {
  color: #3751b7;
  background: rgb(169, 182, 185);
  padding: rgb(20, 20, 20);
  padding: 30px;
  width: 90px;
  height: 90px;
  display: inline-block;
  overflow: auto;
  border-radius: 20%;
  margin: 10px;
}

.img {
  height: 150px;
  border-radius: 20px;
  margin: 10px;
}
